---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: boshcpi/gce-cpi-release

inputs:
  - name: bosh-cpi-release
  - name: version-semver
  - name: bosh-cli
outputs:
  - name: candidate
run:
  path: bosh-cpi-release/ci/tasks/build-candidate.sh
